h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1f1f1f;
}
body {
  background: none;
  color: #1f1f1f;
}
p {
  font-family: 'Verdana', 'Open Sans', sans-serif;
  font-size: 14px;
}
.swiper-pagination {
  display: none;
}
.top-links-search {
  padding-right: 0;
}
#top {
  background-image: url(/image/bg.jpg);
  background-size: cover;
  background-color: #EEEEEE;
  border-bottom: 1px solid #e2e2e2;
  padding: 4px 0px 3px 0;
  margin: 0 0 30px 0;
  min-height: 40px;
}
#top-links {
  padding-top: 5px;
}
#search .input-lg {
  height: 35px;
  line-height: 20px;
  padding: 0 10px;
}
#search {
  margin-bottom: 5px;
}
#search .btn-lg {
  font-size: 15px;
  line-height: 15px;
  padding: 9px 17px;
  /* text-shadow: 0 1px 0 #FFF; */
  background: white;
  border-color: #eeeeee;
  color: #222222;
}
#top .container {
  padding: 0 0px;
}
.navbar {
  border-radius: 0px;
}
#menu {
  background: #eeeeee;
  min-height: 48px;
  margin-top: 12px;
  border: none;
}
#menu .nav > li > a {
  color: #1f1f1f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  min-height: 15px;
  font-weight: bolder;
  background-color: transparent;
}
#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #2c2c2c;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
  color: #ffffff;
  background: #1a1a1a;
  border-color: #2f2f2f;
}
#menu .btn-navbar {
  background: #2e2e2e;
  border-color: #2f2f2f;
}
body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  color: #222222;
  font-size: 15px;
}
.header-block1 {
  color: #222222;
  font-size: 15px;
  line-height: 18px;
  margin-top: 6px;
}
.header-block {
  margin-top: 6px;
  color: #1f1f1f;
}
.header-block3 {
  margin-top: -14px;
}
.cart-box button {
  border: none;
  background: none;
  box-shadow: none;
  text-align: left;
  line-height: 20px;
  color: #222222;
  padding: 0;
}
#cart {
  margin-bottom: 10px;
  background: #eeeeee;
  padding: 7px;
  border-radius: 5px;
  width: 75%;
}
.list-group a {
  border: 1px solid #cdcdcd;
  color: #1f1f1f;
  padding: 10px 15px;
  border-bottom-width: 0;
}
.list-group a:hover {
  border: 1px solid #cdcdcd;
  color: #1f1f1f;
  padding: 10px 15px;
  border-bottom-width: 0;
}
.list-group-item-box:last-child a {
  border-bottom-width: 1px;
}
#column-left {
  padding: 8px;
  margin-top: 7px;
}
.list-group-title {
  padding: 13px 15px;
}
.list-group-item.list-group-title:hover {
  background: none;
}
.container .navbar-collapse.navbar-ex1-collapse {
  padding: 0 !important;
}
#menu .container {
  padding: 0 ;
}
.list-group a .dot {
  color: silver;
  font-size: 56px;
  display: -webkit-inline-box;
  margin-right: 3px;
}
.swiper-viewport-carousel .swiper-pager,
.swiper-viewport-carousel .swiper-pagination {
  display: none;
}
.swiper-viewport-carousel {
  box-shadow: none !important;
}
ul.breadcrumb:before {
  content: '';
  background: url(/image/0.png);
  height: 18px;
  width: 18px;
  display: inline-flex;
  top: 3px;
  position: relative;
}
ul.breadcrumb:after {
  content: '';
  display: block;
  position: absolute;
  top: 17px;
  left: 33px;
  width: 9px;
  height: 9px;
  border-right: 3px solid #d7d7d7;
  border-bottom: 3px solid #d7d7d7;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: none;
  background: none;
}
.breadcrumb > li:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  right: -5px;
  width: 9px;
  height: 9px;
  border-right: 3px solid #d7d7d7;
  border-bottom: 3px solid #d7d7d7;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.breadcrumb > li:last-child:after {
  content: '';
  display: none;
}
.breadcrumb > li a {
  color: #0059b2;
  font-size: 13px;
}
.breadcrumb > li {
  padding: 0 10px;
}
#content {
  min-height: 600px;
  margin-top: 5px;
}
.swiper-slide img {
  border-style: solid;
  border-width: 1px;
  padding: 13px;
  border-color: #e8e8e8;
}
.home-page-desc1 {
  padding-top: 11px;
  padding-bottom: 23px;
}
#content .list-group a {
  border: none;
  /*border-bottom:  1px solid #cdcdcd;*/
  color: #1f1f1f;
  padding: 10px 15px;
}
#content .list-group a .dot {
  display: none;
}
#content .list-group .list-group-title {
  display: none;
}
#content .list-group .list-group-item-children {
  display: flex;
  /* margin-left: 17px;*/
}
#content .list-group .list-group-item {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 700;
  padding-left: 0;
}
#content .list-group .list-group-item-children .list-group-item {
  color: #0059b2;
  font-size: 16px;
  font-weight: 300;
  font-family: sans-serif;
  padding-right: 0;
  padding-left: 0;
  width: 20%;
}
#content .list-group .list-group-item-box {
  padding-top: 0;
  padding-bottom: 10px;
}
.list-group-item .list-group-item-box:last-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-group-item .list-group-item-box:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-group-item.list-group-title {
  padding: 13px 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.list-group .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: -10px;
  box-shadow: none;
  background: none;
  border: none;
  height: 200%;
}
.list-group .dropdown-menu-box {
  /* margin-top: 8px;*/
  padding: 0;
  background: #f4f4f4;
  border-color: #cdcdcd;
  position: relative;
  left: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.list-group .dropdown-menu a {
  border: none;
  background: none;
}
#top {
  background-image: url(/image/bg.jpg);
  background-size: cover;
  background-position: 0px 29%;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.18) inset;
  padding: 4px 0px 3px 0;
  margin: 0 0 30px 0;
  min-height: 40px;
}
footer {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #464648;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
  padding-bottom: 40px;
}
footer .row > div {
  display: flex;
  padding-top: 5px;
}
footer .row > div li {
  line-height: 14px;
  padding-bottom: 7px;
}
.s-f-box .s-f {
  padding: 0;
  margin: auto;
}
.s-f-box {
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  display: flex;
  padding-right: 6px;
}
footer .row > div li a {
  color: #dadada;
  font-size: 13.5px;
  font-weight: 600;
}
.logo-f {
  padding: 0;
}
.s-f-box .s-f:first-child {
  margin-left: 0;
}
.s-f-box .s-f:last-child {
  margin-right: 0;
}
.f-c5-r2 {
  padding-top: 5px;
  font-size: 12px;
  line-height: 16px;
}
.f-count {
  font-weight: 100;
}
.list-group .list-group-title:hover {
  padding: 13px 15px;
}
.dropdown-menu-box {
  display: flex;
}
.list-group-item-children-col {
  width: 180px;
  border-right-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.list-group-item-children-col:last-child {
  border: none;
}
.list-group .dropdown-menu .list-group-item-child {
  font-weight: bold;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-group .dropdown-menu .list-group-item-subchild {
  padding-top: 0px;
  padding-bottom: 0px;
}
.list-group .dropdown-menu .list-group-item-subchild + .list-group-item-child {
  padding-top: 15px;
}
a.list-group-item.list-group-item:hover {
  text-decoration: underline;
}
.dropdown-hover .list-group-item .fa-caret-right {
  float: right;
  color: silver;
  top: 6px;
  position: relative;
}
.list-group a.list-group-item.list-group-title:hover {
  text-decoration: none;
}
.list-group-item-box-hr {
  margin-top: 0;
  margin-bottom: 10px;
  /*    margin-left: 17px;*/
}
#content .list-group .list-group-item:hover {
  background: none;
}
.list-group-item-box-hr:last-of-type {
  display: none;
}
.swiper-viewport-slideshow {
  /* margin-left: 17px;*/
}
.cart-box .btn-inverse:hover {
  background: none;
}
.product-btn-group .btn {
  background: none;
  border-style: solid;
  border-color: #cccccc;
}
.btn-wishlist,
.btn-compare {
  padding: 15.5px 17px;
}
.btn-group-add {
  padding: 12.5px 38px;
  padding-right: 16px;
  padding-left: 10px;
}
#button-cart i {
  padding-right: 5px;
  padding-left: 10px;
  color: red;
}
#button-cart {
  background: none;
  border: none;
  color: #333333;
  font-size: 13px;
  font-weight: bold;
}
.btn-group-add:active,
.btn-group-add:active:focus,
.btn-group-add:hover,
.btn-group-add:focus,
.btn-group-add:active:hover {
  background: none;
  box-shadow: none;
}
#product-product h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.product-btn-group {
  margin-bottom: 25px;
}
.list-product-info {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}
.product-stock {
  color: #00b22d;
  font-weight: bold;
  font-size: 13px;
  border-bottom-style: dashed;
  display: inline-block;
  border-width: 1px;
  margin-bottom: 5px;
}
.product-price {
  margin-top: 0;
}
.product-price h2 {
  margin-top: 0;
  color: #4f4f4f;
}
.product-contact-info {
  display: inline-block;
  background: #f4f4f4;
  padding: 10px;
  padding-bottom: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.product-contact-info p {
  font-family: Montserrat;
  font-size: 14px;
  color: #333333;
  line-height: 14px;
}
.product-contact-info p span {
  color: #0059b2;
  font-size: 16px;
  font-weight: bold;
}
.s-f-box .s-f i {
  font-size: 31px;
  font-weight: bold;
  color: #eeeeee;
  transition: all 0.1s linear;
}
.s-f-box .s-f i.fa-odnoklassniki {
  font-size: 26px;
}
.s-f-box .s-f i.fa-vk {
  font-size: 18px;
  border-style: solid;
  border-radius: 7px;
  font-weight: 300;
  padding: 2px;
}
.s-f-box .s-f i.fa-facebook {
  font-size: 18px;
  border-style: solid;
  border-radius: 3px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 0px;
}
.s-f-box .s-f i.fa-odnoklassniki:hover {
  color: #ff5c26;
}
.s-f-box .s-f i.fa-vk:hover {
  color: #2790f7;
}
.s-f-box .s-f i.fa-facebook:hover {
  color: #2626ff;
}
.s-f-box .s-f i.fa-instagram:hover {
  color: #c926ff;
}
.product-soc .s-f-box .s-f i {
  color: #666666;
}
.product-soc {
  width: 210px;
}
.product-soc span {
  font-size: 13.5px;
}
.product-soc .s-f-box {
  padding: 0;
  margin-top: 5px;
}
.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-sm-five .list-unstyled {
  width: max-content;
  margin: auto;
  padding-left: 30px;
}
.col-xs-five {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-five {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-five {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-five {
    width: 20%;
    float: left;
  }
}
/*# sourceMappingURL=style170219.css.map */